karniyarik-recognizer/src/main/resources/schema/files.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.karniyarik.com/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="files" type="sch:filesType" xmlns:sch="http://www.karniyarik.com/schema"/>
  <xs:complexType name="filesType">
    <xs:sequence>
      <xs:element type="xs:string" name="file" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>