karniyarik-recognizer/src/main/resources/schema/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.karniyarik.com/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="sch:rootType" xmlns:sch="http://www.karniyarik.com/schema"/>
  <xs:complexType name="alternatenamesType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="referenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="referencesType">
    <xs:sequence>
      <xs:element type="sch:referenceType" name="reference" maxOccurs="unbounded" minOccurs="0" xmlns:sch="http://www.karniyarik.com/schema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="sch:alternatenamesType" name="alternatenames" xmlns:sch="http://www.karniyarik.com/schema"/>
      <xs:element type="sch:referencesType" name="references" xmlns:sch="http://www.karniyarik.com/schema"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="sch:itemType" name="item" maxOccurs="unbounded" minOccurs="0" xmlns:sch="http://www.karniyarik.com/schema"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="sch:itemsType" name="items" maxOccurs="unbounded" minOccurs="0" xmlns:sch="http://www.karniyarik.com/schema"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>